---
---

@import "minima";

@media (prefers-color-scheme: dark) {
  body,
  .wrapper,
  .page-content,
  .home,
  .post-content {
    background-color: #111;
    color: #ddd;
  }

  a,
  .post-link,
  .post-title {
    color: #8ab4f8;
  }

  .site-header,
  .site-footer {
    background-color: #111;
    border-color: #333;
  }

  .site-title,
  .site-title:visited,
  .site-nav .page-link {
    color: #eee;
  }

  .post-meta {
    color: #aaa;
  }
}
